{% extends 'base.html' %}
{% load static %}
{% block pageContent %}
<style>
    /* Style pour la vidéo en fond */
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    main {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }

    #logo-img {
        height: 11em;
        width: 26em;
    }

    /* Ajout de styles pour centrer le contenu */
    .content-wrapper {
        position: relative;
        z-index: 1;
        font-family: Georgia, serif;
    }

    /* Styles pour la carte de login */
    .login-card {
        width: 80%;
        max-width: 300px; /* Pour rendre la carte plus petite */
    }

    .login-card .card-header {
        background-color: #f8f9fa;
    }

    .login-card .card-body {
        background-color: rgba(255, 255, 255, 0.8);
    }

    .card-title {
        font-size : 15px;
        margin-left : 110px;
    }

</style>

<!-- Vidéo en fond -->
<video class="video-background" autoplay muted loop>
    <source src="{% static 'assets/default/img/videobg.mp4' %}" type="video/mp4">
</video>

<div class="d-flex flex-column w-100 justify-content-center align-items-center content-wrapper">
    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 login-card">
        <div class="card card-default rounded-0 shadow">
            <div class="card-header">
                <h4 class="card-title"><b>Login</b></h4>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <form id="login-user" action="" method="POST">
                        {% csrf_token %}
                        <div class="mdc-layout-grid">
                            <div class="mdc-layout-grid__inner">
                                <div class="form-group mb-3">
                                    <label for="username" class="control-label">Username</label>
                                    <input type="text" class="form-control rounded-0" autofocus name="username" id="username" required="required">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="password" class="control-label">Password</label>
                                    <input type="password" class="form-control rounded-0" autofocus name="password" id="password" required="required">
                                </div>
                                <div class="form-group mb-3">
                                    <div class="d-flex w-100 justify-content-between align-items-center">
                                        <div class="col-md-4">
                                            <a href="{% url 'public-page' %}">Go Back</a>
                                        </div>
                                        <button class="btn btn-sm rounded-0 btn-primary">
                                            Login
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock pageContent %}

{% block ScriptBlock %}
<script>
    $(function() {
        $('#login-user').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'login-user' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg")
                        location.href = "{% url 'home-page' %}"
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>
{% endblock ScriptBlock %}
