{% extends 'base.html' %} 
{% load static %} 
{% load humanize %} 
{% block pageContent %}
<style>
    .al-logo {
        height: 5em;
        width: 5em;
        object-fit: scale-down;
        object-position: center center;
    }
</style>
<section class="py-4" style="font-family: Georgia, serif;">
    <div class="container">
        <h3 class="fw-bolder text-center">Reservation Form</h3>
        <center>
            <hr class="bg-primary opacity-100" style="height:3px" width="5%">
        </center>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                <div class="list-group mb-3">
                    <div class="list-group-item">
                        <div class="d-flex w-100 align-items-center">
                            <div class="col-auto text-center px-3">
                                <img src="{% if flight.airline.image_path %}{{ flight.airline.image_path.url}}{% else %}{% static 'assets/default/img/no-image-available.png' %}{% endif %}" 
                                     alt="{{ flight.airline.name}}" class="img-thumbnail rounded-circle al-logo">
                            </div>
                            <div class="col-auto flex-shrink-1 flex-grow-1">
                                <h4 class="m-0"><b>Flight - {{flight.code}}</b></h4>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <dl class="d-flex m-0">
                                            <dt class="m-0 fw-bold col-auto px-1">Plane:</dt>
                                            <dd class="m-0 col-auto flex-shrink-1 flex-grow-1">{{flight.air_craft_code}}</dd>
                                        </dl>
                                        <dl class="d-flex m-0">
                                            <dt class="m-0 fw-bold col-auto px-1">From:</dt>
                                            <dd class="m-0 col-auto flex-shrink-1 flex-grow-1">{{flight.from_airport.name}}</dd>
                                        </dl>
                                        <dl class="d-flex m-0">
                                            <dt class="m-0 fw-bold col-auto px-1">To:</dt>
                                            <dd class="m-0 col-auto flex-shrink-1 flex-grow-1">{{flight.to_airport.name}}</dd>
                                        </dl>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <dl class="d-flex m-0">
                                            <dt class="m-0 fw-bold col-auto px-1">Airline:</dt>
                                            <dd class="m-0 col-auto flex-shrink-1 flex-grow-1">{{flight.airline.name}}</dd>
                                        </dl>
                                        <dl class="d-flex m-0">
                                            <dt class="m-0 fw-bold col-auto px-1">Departure:</dt>
                                            <dd class="m-0 col-auto flex-shrink-1 flex-grow-1">{{flight.departure|date:"F d, Y h:i A"}}</dd>
                                        </dl>
                                        <dl class="d-flex m-0">
                                            <dt class="m-0 fw-bold col-auto px-1">ETA:</dt>
                                            <dd class="m-0 col-auto flex-shrink-1 flex-grow-1">{{flight.estimated_arrival|date:"F d, Y h:i A"}}</dd>
                                        </dl>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <dl class="d-flex m-0">
                                            <dt class="m-0 fw-bold col-auto px-1">Business Class Slot:</dt>
                                            <dd class="m-0 col-auto flex-shrink-1 flex-grow-1">{{flight.b_slot|intcomma}}</dd>
                                        </dl>
                                        <dl class="d-flex m-0">
                                            <dt class="m-0 fw-bold col-auto px-1">Business Class Price:</dt>
                                            <dd class="m-0 col-auto flex-shrink-1 flex-grow-1">{{flight.business_class_price|intcomma}}</dd>
                                        </dl>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <dl class="d-flex m-0">
                                            <dt class="m-0 fw-bold col-auto px-1">Economy Slot:</dt>
                                            <dd class="m-0 col-auto flex-shrink-1 flex-grow-1">{{flight.e_slot|intcomma}}</dd>
                                        </dl>
                                        <dl class="d-flex m-0">
                                            <dt class="m-0 fw-bold col-auto px-1">Economy Price:</dt>
                                            <dd class="m-0 col-auto flex-shrink-1 flex-grow-1">{{flight.economy_price|intcomma}}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card rounded-0 shadow">
                    <div class="card-body">
                        <div class="container-fluid">
                            <form action="" id="reserve-form">
                                <input type="hidden" name="flight" value="{{flight.id}}">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="mb-3">
                                            <label for="first_name" class="control-label">First Name</label>
                                            <input type="text" id="first_name" name="first_name" 
                                                   class="form-control form-control-sm rounded-0" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="mb-3">
                                            <label for="middle_name" class="control-label">Middle Name</label>
                                            <input type="text" id="middle_name" name="middle_name" 
                                                   class="form-control form-control-sm rounded-0">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="mb-3">
                                            <label for="last_name" class="control-label">Last Name</label>
                                            <input type="text" id="last_name" name="last_name" 
                                                   class="form-control form-control-sm rounded-0" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="mb-3">
                                            <label for="gender" class="control-label">Gender</label>
                                            <select id="gender" name="gender" class="form-select form-select-sm rounded-0" required>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="mb-3">
                                            <label for="contact" class="control-label">Contact #</label>
                                            <input type="text" id="contact" name="contact" 
                                                   class="form-control form-control-sm rounded-0">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="mb-3">
                                            <label for="email" class="control-label">Email</label>
                                            <input type="email" id="email" name="email" 
                                                   class="form-control form-control-sm rounded-0" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="mb-3">
                                            <label for="address" class="control-label">Address</label>
                                            <textarea id="address" name="address" 
                                                      class="form-control form-control-sm rounded-0" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="mb-3">
                                            <label for="type" class="control-label">Seat Type</label>
                                            <select id="type" name="type" class="form-select form-select-sm rounded-0" required>
                                                <option value="1">Business Class</option>
                                                <option value="2">Economy</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="mb-3">
                                            <label for="luggage_type" class="control-label">Luggage Type</label>
                                            <select id="luggage_type" name="luggage_type" class="form-select form-select-sm rounded-0" required>
                                                <option value="hand_carry">Hand Carry (7kg max)</option>
                                                <option value="checked_bag">Checked Baggage (23kg max)</option>
                                                <option value="extra_bag">Extra Baggage (32kg max)</option>
                                                <option value="sports_equipment">Sports Equipment</option>
                                                <option value="musical_instrument">Musical Instrument</option>
                                                <option value="special_item">Special Item</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="mb-3">
                                            <label for="luggage_weight" class="control-label">Weight (kg)</label>
                                            <input type="number" id="luggage_weight" name="luggage_weight" 
                                                   class="form-control form-control-sm rounded-0" 
                                                   value="0" step="0.1" min="0" max="32" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mb-3">
                                    <button class="btn btn-primary bg-gradient-dark btn-lg rounded-pill w-100">
                                        Submit Reservation
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock pageContent %} 

{% block ScriptBlock %}
<script>
    $(function() {
        $('.select2').select2({
            placeholder: "Please Select Here",
            width: "100%",
            containerCssClass: 'form-control form-control-sm rounded-0'
        });
        
        $('#reserve-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this);
            $('.err-msg').remove();
            var el = $('<div>');
            el.addClass("alert alert-danger err-msg");
            el.hide();
            
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            
            // Validate luggage weight based on type
            var luggageType = $('#luggage_type').val();
            var luggageWeight = parseFloat($('#luggage_weight').val());
            
            if (luggageType === 'hand_carry' && luggageWeight > 7) {
                el.text("Hand carry cannot exceed 7kg");
                _this.prepend(el);
                el.show('slow');
                return false;
            } else if (luggageType === 'checked_bag' && luggageWeight > 23) {
                el.text("Checked baggage cannot exceed 23kg");
                _this.prepend(el);
                el.show('slow');
                return false;
            } else if (luggageType === 'extra_bag' && luggageWeight > 32) {
                el.text("Extra baggage cannot exceed 32kg");
                _this.prepend(el);
                el.show('slow');
                return false;
            }
            
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save-reservation' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: function(err) {
                    console.log(err);
                    alert("An error occurred", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        location.href = "{% url 'public-page' %}";
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.html(resp.msg);
                    } else {
                        el.text("An error occurred");
                        console.error(resp);
                    }
                    _this.prepend(el);
                    el.show('slow');
                    $("html, body, .modal").scrollTop(0);
                    end_loader();
                }
            });
        });
    });
</script>
{% endblock ScriptBlock %}